In [5]:
import pandas as pd

In [31]:
pluie = pd.read_csv("C:/Users/Dell/Desktop/ferme_eval/pluie.csv")

In [33]:
pluie[pluie.terrain == 'treize']

        saison  annee terrain  precipitation
461  printemps     17  treize           67.0
475  printemps     18  treize           75.0

In [34]:
if pluie.terrain == 'treize':
    pluie.terrain = 13

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
if(@terrain like 'treize', 13, 
			if(@terrain like 'quinze', 15,
            if(@terrain like 'dix sept', 17,
            if(@terrain like 'vingt quatre', 24,
            if(@terrain like 'vingt cinq', 25,
            if(@terrain like 'trente trois', 33,
            if(@terrain like 'quarante et un', 41,
            if(@terrain like 'quarante quatre', 44,
            if(@terrain like 'quarante sept', 47,
            if(@terrain like 'soixante sept', 67,
            if(@terrain like 'soixante neuf', 69,
            if(@terrain like 'quatre vingt', 80,